@font-face {
    font-family: 'SpaceMono';
    src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'SpaceMono', sans-serif;
  }
